In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv("synergy_logistics_database.csv")
df

,register_id,direction,origin,destination,year,date,product,transport_mode,company_name,total_value
0,1,Exports,Japan,China,2015,31/01/15,Cars,Sea,Honda,33000000
1,2,Exports,Japan,China,2015,01/02/15,Cars,Sea,Honda,16000000
2,3,Exports,Japan,China,2015,02/02/15,Cars,Sea,Honda,29000000
3,4,Exports,Japan,China,2015,03/02/15,Cars,Sea,Honda,14000000
4,5,Exports,Japan,China,2015,04/02/15,Cars,Sea,Honda,17000000
...,...,...,...,...,...,...,...,...,...,...
19051,19052,Imports,Japan,Singapore,2020,27/06/20,Gas turbines,Sea,Union Energy Co,1000000
19052,19053,Imports,Malaysia,Singapore,2020,28/06/20,Gas turbines,Sea,Union Energy Co,2000000
19053,19054,Imports,Malaysia,Singapore,2020,29/06/20,Gas turbines,Sea,Union Energy Co,33000000
19054,19055,Imports,Malaysia,Singapore,2020,30/06/20,Gas turbines,Sea,Union Energy Co,13000000
19055,19056,Imports,Malaysia,Singapore,2020,01/07/20,Gas turbines,Sea,Union Energy Co,30000000

# TODO

## Encontrar los 3 medios de transporte más importantes, considerando el valor de importaciones y exportaciones, también elegir el medio de transporte que menos importancia tiene

## Encontrar los paises que generan el 80% de valor en importaciones y exportaciones.

# 10 rutas con más demandas

## Rutas de importaciones

In [157]:
rutas_importaciones = df.loc[df["direction"] == "Imports"]
rutas_importaciones = rutas_importaciones.groupby(['direction', 'origin', 'destination'], group_keys=False).count()
rutas_importaciones.reset_index()
rutas_importaciones.drop(['register_id', 'year', 'date', 'product', 'transport_mode', 'company_name'], axis=1, inplace=True)
rutas_importaciones.rename(columns={'total_value': 'count'}, inplace=True)
rutas_importaciones.sort_values('count', ascending=False)

                                                     count
direction origin               destination
Imports   Singapore            Thailand                273
          Germany              China                   233
          China                Japan                   210
          Japan                Mexico                  206
          China                Thailand                200
          Malaysia             Thailand                195
          Spain                Germany                 142
          Mexico               USA                     122
          China                United Arab Emirates    114
          Brazil               China                   113
          USA                  Thailand                109
          Australia            Japan                   102
          Mexico               China                   100
          France               Germany                  86
                               Poland                   83
          USA                  Canada                   81
          Japan                United Arab Emirates     76
          Germany              Mexico                   70
          Japan                Canada                   70
          South Korea          Mexico                   66
          Mexico               Japan                    65
          Italy                Poland                   58
          United Kingdom       Canada                   58
          USA                  Germany                  58
                               India                    57
          China                Singapore                55
          Japan                Thailand                 55
          South Korea          United Arab Emirates     51
          USA                  China                    49
          Canada               USA                      47
          Mexico               Canada                   45
          Russia               India                    42
          Spain                Mexico                   41
          Germany              Poland                   36
          Mexico               Germany                  34
          Germany              India                    30
          South Korea          Germany                  29
          Italy                Mexico                   28
          USA                  Japan                    22
          China                Mexico                   21
          United Arab Emirates India                    20
          Vietnam              United Arab Emirates     18
          Japan                USA                      17
          South Korea          Japan                    15
          China                USA                      15
          Japan                Singapore                13
                               India                     8
          Brazil               Germany                   6
          Malaysia             Singapore                 4

## Rutas exportaciones

In [158]:
rutas_exportaciones = df.loc[df["direction"] == "Exports"]
rutas_exportaciones = rutas_exportaciones.groupby(['direction', 'origin', 'destination'], group_keys=False).count()
rutas_exportaciones.reset_index()
rutas_exportaciones.drop(['register_id', 'year', 'date', 'product', 'transport_mode', 'company_name'], axis=1, inplace=True)
rutas_exportaciones.rename(columns={'total_value': 'count'}, inplace=True)
rutas_exportaciones.sort_values('count', ascending=False)

                                   count
direction origin      destination
Exports   South Korea Vietnam        497
          Netherlands Belgium        437
          USA         Netherlands    436
          China       Mexico         330
          Japan       Brazil         306
...                                  ...
          Italy       Netherlands     19
                      Russia          16
          Japan       Spain           15
          France      Russia          13
                      Austria          7

[144 rows x 1 columns]

## Rutas importaciones y exportaciones

In [163]:
rutas = df.groupby(['direction', 'origin', 'destination'], group_keys=False).count()
rutas.reset_index()
rutas.drop(['register_id', 'year', 'date', 'product', 'transport_mode', 'company_name'], axis=1, inplace=True)
rutas.rename(columns={'total_value': 'count'}, inplace=True)
rutas.sort_values('count', ascending=False).head(10)

                                   count
direction origin      destination
Exports   South Korea Vietnam        497
          Netherlands Belgium        437
          USA         Netherlands    436
          China       Mexico         330
          Japan       Brazil         306
          Germany     France         299
          South Korea Japan          279
          Australia   Singapore      273
Imports   Singapore   Thailand       273
Exports   Canada      Mexico         261

Si comparamos esta tabla con la de la suma de los montos

In [169]:
rutas = df.groupby(['direction', 'origin', 'destination'], group_keys=False).sum()
rutas.reset_index()
rutas.drop(['register_id', 'year'], axis=1, inplace=True)
rutas.sort_values('total_value', ascending=False).head(10)

                                      total_value
direction origin      destination
Exports   China       Mexico          12250000000
          Canada      Mexico           8450000000
          South Korea Vietnam          6877007000
          France      Belgium          5538069000
                      United Kingdom   5427000000
          China       South Korea      4790000000
          USA         Mexico           4710000000
          South Korea Japan            4594000000
          Germany     Italy            4541000000
          China       Germany          4090000000

## Conclusión

Vemos que no se recomienda elegir las rutas con más demandas, porque no son precisamente las que más dinero mueven.

# Medios de transporte más importante